* {
  color: white;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #111111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

svg {
  max-height: 2em;
  fill: white;
}

.top-menu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #171717;
}

.top-menu .logo {
  font-weight: bold;
  height: 1.3rem;
  fill: white;
}

.top-menu .search form {
  display: flex;
}

.top-menu .search form #search {
  background-color: #111111;
  border: 1px solid #333333;
  padding: 0.5rem;
  font-size: 1.2rem;
  width: 100%;
}

.top-menu .search form a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333333;
  fill: white;
  padding: 0 1rem;
  flex-shrink: 0;
}
.top-menu .search form a svg {
  max-height: 1.6rem;
}

.top-menu .access {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.top-menu .access .login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border: 1px solid #3da4fc;
  border-radius: 2px;
  color: #3da4fc;
  text-transform: uppercase;
  padding: 0.5rem;
  white-space: nowrap;
  gap: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
}
.top-menu .access .login svg {
  fill: #3da4fc;
}

.body {
  display: flex;
  flex-grow: 1;
  min-height: 100%;
}
.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 220px;
}
.sidebar .links-wrapper {
  list-style: none;
  border-bottom: 1px solid #333333;
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
  padding-bottom: 0.5rem;
}

.sidebar .links-wrapper li a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.sidebar .links-wrapper li a:hover {
  background-color: #333333;
}
